/* General Body Styling */
body {
    font-family: Arial, sans-serif;
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #1D2D47, #0E1A2F);
    color: #FFF;
}

/* Header Styling */
header {
    background-color: #3A506B;
    padding: 20px;
    font-size: 2rem;
    color: #F4D160;
}

header p {
    color: #60D9F8;
    font-size: 1.2rem;
}

/* Prayer Times Grid Styling */
#prayer-times {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    margin: 20px;
    font-size: 2rem;
}

#prayer-times p {
    margin: 0;
    font-size: 1.5rem;
    color: #ffba08;
}

#prayer-times span {
    display: block;
    margin-top: 10px;
    color: #60D9F8;
    font-size: 2rem;
}

/* Centered Clock Styling */
.center {
    color: #61ff7c;
    font-size: 80px;
    font-family: 'ds-digital';
    text-shadow: 2px 2px 5px #61ff7c;
}

/* Countdown Styling */
#countdown {
    color: #ffba08;
    font-size: 2rem;
    margin: 30px 0;
}

/* About Section Styling */
#about {
    background-color: #3A506B;
    padding: 40px;
    color: #F4D160;
}

#about a {
    color: #60D9F8;
    text-decoration: none;
    font-weight: bold;
}

#about a:hover {
    text-decoration: underline;
}

/* Footer Styling */
footer {
    background-color: #0E1A2F;
    padding: 20px;
    font-size: 1.2rem;
    color: #FFF;
}
