body {
    font-family: Arial, sans-serif;
    font-size: 24px;
    text-align: center;
    margin-top: 100px;
    margin: 0;
    padding: 0;
    background: #1D2D47;
}

#prayer-times {
    display: grid;
    color: #60D9F8;
    font-size: 4rem;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
    padding: 5px;
}

.center {
    color: #61ff7c;
    text-align: center;
    font-size: 100px;
    font-family: ds-digital;
    text-shadow: #61ff7c;
}

#countdown {
    color: #5699ff;
    text-align: center;
    font-size: 20px

}

